.nav-container{
	@include site-container();
	padding: 0 1em;

	ul{
		margin:0;
		padding:0;
		list-style:none;
		a{ border-bottom: none; }
	}

	.nav-header{
		.site-branding{
			.site-title{
				margin: 0;

				a{
					border-bottom: none;
				}//a
			}//.site-title
		}//.site-branding


	}//.nav-header



	#site-navigation{

		#primary-menu{

			li{
				display: block;
			}
		}//#primary-menu
	}//#site-navigation



	#side-navigation{

		ul{
			display: inline-block;

			li{ display: inline-block; }
		}

		.socialmedia{

			 a{
				 font-family: $font__awesome;
				 &.social-facebook:before{ content:'\f09a'; }
				 &.social-github:before{ content:'\f113'; }
				 &.social-instagram:before{ content:'\f16d'; }
				 &.social-linkedin:before{ content:'\f0e1'; }
			 }
		}//.socialmedia


		.language-switch{

			#language-toggle{
				display: inline-block;
				font-family: $font__awesome;

				&:before{
					display:inline-block;
					content:'\f1ab';
				}

			}//#language-toggle

			#language-dropdown{

				li{ }
			}//#language-dropdown
		}//.language-switch


	}//#side-navigation
}//.nav-container
