body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(0.875);
	line-height: $font__line-height-body;

	@media screen and (min-width: $screen-md){ @include font-size(1); }
	@media screen and (min-width: $screen-xl){ @include font-size(1.125); }
}

@import "headings";

@import "copy";
