@mixin header-underline{
  &:after{
    display: block;
    content:'';
    width: 18.75rem;
    height: 3px;
    margin: 0.3em auto;
    background: $color_black;
  }
}


.home-container{
  @include site-container;

  .home-title{
    @include header-underline;
    margin: 0 0 1em;
    text-align: center;
    word-break: keep-all;

    .title-translation{
      display: block;
      font-size: 1rem;
      font-style: italic;
      color: #999;
    }
  }//.home-title
}//.home-container




#home-welcome{
  @include clearfix();
  display: block;
  background: $color_dark_blue;

  .home-container{
    padding: 5em 0;
  }

  .coco-logo{
    display: block;
    margin: 0 auto 1em;
    width: 10em;

    @media screen and (min-width: $screen-md){ width: 13em; }
    @media screen and (min-width: $screen-lg){ width: 16em; }
  }

  .welcome-title,
  .welcome-subtitle{
    color: $color_white;
    text-align: center;
  }

  .welcome-title{
    @include header-underline;
    display: block;
    font-size: 3em;
    margin: 0 0 0.5em;
    overflow-y: auto;

    &:after{
      background: $color_white;
    }
  }//.welcome-title

  .welcome-subtitle{
    margin: 0;
  }

}//#welcome


#home-about{
  @include clearfix();

  .home-container{
    padding: 5em 1em;

    .about-info{
      max-width: 25em;
      margin: 0 auto;
    }//.about-info
  }//.home-container
}//#home-about




#home-location{
  @include clearfix();
  background: #f0f0f0;

  .home-container{
    display: flex;
    flex-wrap: wrap;
    padding: 5em 0;

    @media screen and (min-width: $screen-md){
      flex-wrap: nowrap;
    }

    #google-map,
    .location-info{
      flex: 0 0 100%;
      text-align: center;

      @media screen and (min-width: $screen-md){
        flex: 0 0 50%;
      }
    }

    .location-info{
      padding: 0 2em;
    }//.location-info

    #google-map{
      width: 100%;
      height: 18.75rem;
      padding: 0 2em;
    }//#google-map

  }//.home-container
}//#location



#home-resources{
  background: linear-gradient( darken($color_dark_teal1, 10%) 60%, #fff );

  .home-container{
    @include clearfix();
    padding: 5em 0;

    .home-title{
      color: #f2f2f2;

      &:after{
        background: #f2f2f2;
      }
    }


    .resource-outter {
      @include clearfix();
      position: relative;
      float: left;
      width: 96%;
      height: 100%;
      margin: 2%;
      z-index: 1;

      @media screen and (min-width: $screen-md){
        width: 48%;
        margin: 1%;
      }

      .resource-inner {
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 0.75s ease-in-out;

        .face {
          width: 100%;
          height: 100%;
          backface-visibility: hidden;

          .resource-title{
            @include centerXY();
            @include text-stroke;
            width: 70%;
            margin: 0;
            padding: 1em;
            color: #efefef;
            text-align: center;
            word-break: keep-all;
            backface-visibility: hidden;

            @media screen and (min-width: $screen-md){ font-size: 2em; }
            @media screen and (min-width: $screen-xl){ font-size: 2.2em; }

            .title-translation{
              display: block;
              font-size: 1rem;
              font-style: italic;
              color: #eee;
              word-break: keep-all;
              backface-visibility: hidden;
            }
          }//.resource-title

          img{
            display: block;
          }

          &.back {
            display: block;
            position: absolute;
            top:0;
            color: #f2f2f2;
            text-align: center;
            box-sizing: border-box;
            background-color: #333;
            transform: rotateY(180deg);

            p{
              @include centerY;
              padding: 0 1em;
              margin: 0;
            }
          }
        }//.face
      }//.resouce-inner

      &:hover .resource-inner {
        transform: rotateY(180deg);
        box-shadow: -5px 5px 5px #333;
      }
    }//.resouce-outter

  }//.home-container

}//#home-resources



#home-contact{

  background: linear-gradient( to bottom, #fff, #eee );

  .home-container{
    padding: 5em 1em;
  }

}//#home-contact
